services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - db_volume:/app/db
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    environment:
      - PYTHONUNBUFFERED=1
      - AUTO_SEED=true
      - DEBUG=True
    entrypoint: ["/bin/bash", "/app/docker-entrypoint.sh"]
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]

volumes:
  db_volume:
  static_volume:
  media_volume:
